---
title: RSS feeds
layout: none
description: RSS and ATOM feed tests
slug: assemble
date: 02-13-2014
url: http://assemble.io/
---

<link rel="alternate" type="application/rss+xml" title="WordPress › Support » Topic: Custom Post Types" href="http://wordpress.org/support/rss/topic/custom-post-types">

<a class="rsslink" href="http://wordpress.org/support/rss/topic/custom-post-types">RSS feed for this topic</a>

{{rss icon="16"}}

{{#rss icon="16"}}
  <a class="rss-link" href="url/to/rss.xml">{{feed}}</a>
{{/rss}}

<h1>{{{title}}}</h1>
<p>{{{description}}}</p>
